:root{
    --Background: #16161a;
    --Background2: #21212c;
    --Box: #30303e;
    --Box2: #1e1e26;
    --Shadow: #262634;
    --Headline: #fffffe;
    --Paragraph: #94a1b2;
    --Button: #7f5af0;
    --ButtonText: #fffffe;
    --green: #00ff11;
}

html{
    scroll-padding-top: 50px;
    overflow-x: hidden;
}

@font-face{
    font-family: "berkley";
    src: url(fonts/BerkeleyMonoTrial-Regular.otf);
    src: url(fonts/BerkeleyMonoTrial-Regular.ttf)
}

body{
    background: linear-gradient(var(--Background),var(--Background2));
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
}

.miniContainer{
    display: flex;
    padding-top: 2%;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
}

section{
    height: 100vh;
    width: 100vw;
}


.navBar{
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--Background);
    opacity: 100%;

    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 1);
    justify-content: space-between;
    color: var(--Headline);
    font-family: berkley;
    
}

.hText{
    display: flex;
    flex: 2;
    align-items: center;
    padding-left: 3%;

    text-decoration: none;
    color: var(--Headline);
}

.navUl{
    display: flex;
    flex: 1;
    list-style: none;
    padding-right: 10%;
    justify-content: space-between;

}

.navUl li a{
    text-decoration: none;
    color: var(--Headline);
    position: relative;
    padding-bottom: 5px;
}

.navUl li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--Button);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.navUl li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navUl li a:hover span{
    color: var(--green);
}

.introContent{
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 7%;

    color: var(--Headline);
}

.introContent h2{
    margin-top: 0;
    padding-top: 2%;
    font-size: 40px;
    font-family: Quicksand;
    text-align: start;
}

.introContent h2 span{
    color: var(--Paragraph);
    font-family: Cookie;
    font-weight: 200;
    font-size: 120px;
    padding-right: 1%;
}

.greeting{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2%;
    line-height: 300px;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.greeting-1 span{
    text-decoration: underline;
    position: absolute;
    font-size: 180px;
    font-family: Monsterrat;
    opacity: 0;
    animation: spinWords 21s linear infinite 0s;
}
.greeting span:nth-child(2) {  
    animation-delay: 3s; 
}
.greeting span:nth-child(3) { 
    animation-delay: 6s; 	
}
.greeting span:nth-child(4) { 
    animation-delay: 9s; 
}
.greeting span:nth-child(5) { 
    animation-delay: 12s; 
}
.greeting span:nth-child(6) { 
    animation-delay: 15s; 
}
.greeting span:nth-child(7) { 
    animation-delay: 18s; 
}
.greeting span:nth-child(8) { 
    animation-delay: 21s; 
}

.scrollNotif{
    display: none;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    height: 35vh;
    

    color: var(--Paragraph);
    font-family: berkley;
}

.scrollNotif p{
    animation: bounce 3s infinite;
}

.contentBox{
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: var(--Box);
    width: 45%;
    height: 98%;
    padding-left: 1%;
    padding-right: 1%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contentBox span{
    text-align: center;
    padding: 3%;
    color: var(--Headline);
    text-decoration: underline;
    font-family: berkley;
}

.pHeader{
    color: var(--Headline) !important;
    font-weight: 800;

}

.contentBox p{
    color: var(--Paragraph);
    font-family: Quicksand;
    font-size: 20px;
}


.introduction{
    display: flex;
    flex-direction: column;
    z-index: 5;
    justify-content: space-between;
    padding-left: 2%;
    
    color: var(--Headline);
    font-family: Quicksand;
    font-size: 75px;
}

.introduction h1{
    margin: 0;
    padding: 0;
    border: 0;
}

.introduction span.animate{
    width: fit-content;
    animation: slideIn 3s
}

.line1{
    padding-bottom: 3%;
    font-size: 105px;
}
.line2{
    font-size: 60px;
}
.line3{
    padding-bottom: 30%;
    font-size: 60px;
}
.line4{
    font-size: 40px;
}

.introText{
    display: flex;
    flex-direction: column;
}

.contactButton{
    margin-bottom: 2%;
}

.btn{
    background-color: var(--Button);
    padding: 10px;
    border-radius: 5px;
    font-family: berkley;
    font-size: 35px;
    text-decoration: none;
    cursor: pointer;
    color: var(--ButtonText);
}

.goalsContentbox{
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: var(--Box);
    padding-left: 1%;
    padding-right: 1%;
    height: 98%;
    width: 100%;

    color: var(--Headline);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.goalsContentbox h3{
    text-align: center;
    font-family: berkley;
}

.lists{
    display: flex;
    flex-direction: row;
    color: var(--Paragraph);
}

.listContainer{
    width: 50%;
    border: 1px solid var(--Background);
}

.listContainer ul li{
    font-family: Quicksand;
    font-size: 30px;
    padding-bottom: 2%;
}

.links{
    display: flex;
    justify-content: space-between;
    font-family: berkley;
    padding-top: 13%;
}

.links span{
    align-self: center;
}

.icons{
    width: fit-content;
    height: fit-content;

    font-size: 50px;
}

.icons a{
    text-decoration: none;
    color: #7f5af0;
}

.contactMe{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    transform: scale(0);
    background-color: var(--Box);
    width: 96%;
    height: 90%;
}
.contactMe.active {
    transform: scale(1);
}
.contactInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}
.contactInfo h3{
    text-align: center;
    color: var(--Headline);
    font-family: berkley;
}

.c-text{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.c-text span{
    color: var(--ButtonText);
    font-family: Quicksand;
    font-size: 50px;
    padding-bottom: 5%;
    padding-left: 2%;
}

.cIcons{
    display: flex;
    
}
.cIcons a{
    font-size: 50px;
    text-decoration: none;
    color: #7f5af0;
    padding-right: 2%;
    padding-left: 5%;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contactForm h3{
    text-align: center;
    color: var(--Headline);
    font-family: berkley;
    padding-bottom: 8%;
}

form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
}

input, select, textarea{
    padding: 10px;
    margin-bottom: 10%;
    background: var(--Background2);
    border: 1px solid black;
    color: var(--Headline);
}

textarea{
    height: 300px;
}

.contactForm button{
    padding: 10px;
    cursor: pointer;
    background: var(--Button);
    color: var(--ButtonText);
}

.close{
    position: absolute;
    align-self: flex-end;
    width: 4%;
    height: 5%;
    border: none;
    background-color: transparent !important;
    color: var(--Headline);
    font-family: Quicksand;
    font-size: 30px;
}

@keyframes slideIn{
    0%{
        transform: translateX(-50%);
        opacity: 0;
        filter: blur(2px);
    }
    50%{
        transform: translateX(10%);
        opacity: 1;
    }
    100%{
        transform: translateX(0%);
    }
}


@keyframes bounce{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}


@keyframes spinWords{
    0% { opacity: 0; }
    3% { opacity: 0; transform: translateY(-30px); }
    6% { opacity: 1; transform: translateY(-10px);}
    16% { opacity: 1; transform: translateY(-10px); }
    17% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
    
}